<mat-toolbar color="primary">
  <div class="row align-middle">
    <!-- <div class="col align-middle" >
      <img src="assets/img/logo.png" alt="Logomarca Meu Centro Universitário" class="brand">
    </div> -->
    <div class="col my-auto">
       <a href="#" >Meu Período</a>
    </div>
    <div class="col my-auto">
       <a href="#" >Planejamento</a>
    </div>
    <div class="col my-auto">
       <a href="#" >Consultas</a>
    </div>
    <div class="col my-auto">
       <a href="#" >Ferramentas</a>
    </div>
  </div>
</mat-toolbar>
