mat-list-item {
  float: right;
  align-content: center;
  vertical-align: middle;
}



.brand {
  height:64px;
  /* background-color: #FFF; */
}

a {
  color: #FFF;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #FF96A6;


}
